body {
	font-size: 14.5px;
	padding-top: 5px;
	opacity: 100% !important;
	line-height: 1.52947;
	background: #3E5368;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial", sans-serif;
	margin-bottom: 50px;
}

.footer {
 /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 25px 0;
}

.colContent {
	padding-top: 40px;
	margin: 0 auto;
}

.hints {

	width: 100%;
	height: 50px;
}

.wrapper {
    text-align: center;
    margin: auto;
}

#startingButton {
	width: 450px;
	height: 50px;
	text-align: center;
}

button {
	width: 75px;
	height: 75px;
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}

h1, h2, h3, h4 {
	color: white;
	text-align: center;
}

a {
	outline: none;
}

.gap {
	margin-right: 37.5px;
}

#finalWord {
	position: inline;
}
.navbar-brand {
	font-size: 1.75em !important;
	font-weight: bold;
}

.nav li {
	font-size: 1.25em !important;
	font-weight: normal;
}
.keyDisplayed {
	width: 120px;
	height: 120px;
	margin:auto;
    display:block;
	

}
section p {
	line-height: 190%;
}


button {
	font-size: 20px;
	font-weight: bold;
	
}

p {
	color: white;
}

aside {
	margin-top: 5px;
	background: #3E5368;
}

#panel-body {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}